* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

p {
   margin-top: 16px;
}

.header {
   font-weight: bold;
   font-size: 24px;
   margin: 20px 0;
}

.green {
   color: green;
}

.red {
   color: red;
   font-weight: bold;
}

.text {
   font-style: italic;
   color: blue;
}