* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Heebo, sans-serif;
    border: none;
}

// ----ПЕРЕМЕННЫЕ-----------------------------------------------------------

$mainRed: #EC1B2E;
$mainBlack: #333;
$container: 1296px;
$mainHoverRed: #ca0011;

// ---------------------------------------------------------------

@keyframes button {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    10% {
        transform: translateX(-10px) rotate(-3deg);
    }

    15% {
        transform: translateX(7px) rotate(3deg);
    }

    20% {
        transform: translateX(-7px) rotate(-3.6deg);
    }

    25% {
        transform: translateX(3px) rotate(3.6deg);
    }

    30% {
        transform: translateX(-3px) rotate(0deg);
    }

}


@keyframes tracking-out-expand-fwd {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        letter-spacing: 1em;
        transform: translateZ(300px);
        opacity: 0;
    }
}

// ----ПОВТОРНЫЕ КЛАССЫ-----------------------------------------------------------

.container {
    max-width: $container;
    margin: 0 auto;

    @media (max-width: 1350px) {
        & {
            padding: 0 50px;


        }
    }
}

.btn {
    width: 143px;
    height: 40px;
    padding: 10px 0;
    background: $mainRed;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
    white-space: nowrap;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        background: $mainHoverRed;

    }

    &:active {
        transform: translateY(3px);
    }

    @media (max-width: 1350px) {
        & {
            transform: scale(1.2);
        }


    }
}

.title {
    color: $mainBlack;
    font-size: 48px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0.48px;
}


a {
    color: $mainBlack;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease;

    @media (min-width: 768px) {
        &:hover::after {
            height: 100%;
            // border-radius: px;
        }

        &:active {
            transform: translateY(3px);
        }
    }
}




// ----HEADER-----------------------------------------------------------

.header {

    .header__row {}

}

.row-1 {
    border-bottom: 1px solid $mainBlack;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:1240px) {
        display: flex;
        justify-content: space-around;
    }

    .row-1__logo {}

    .row-1__info {
        width: 674px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:1240px) {
            display: none;
        }

        a {
            color: $mainBlack;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin-right: 45px;

            &:last-child {
                margin-right: 0;
            }
        }

        .row-1__address::before {
            content: url(img/location.svg);
            margin-right: 20px;
            position: relative;
            top: 8px;

        }

        .row-1__phone::before {
            content: url(img/phone.svg);
            margin-right: 20px;
            position: relative;
            top: 8px;

        }

        .row-1__email::before {
            content: url(img/email.svg);
            margin-right: 20px;
            position: relative;
            top: 8px;
        }


    }

    .row-1__btn {
        animation: button 3s both infinite;
    }

}

.row-2 {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:1240px) {
        flex-direction: column;
    }

    .list {
        flex-basis: 1069px;
        display: flex;
        justify-content: space-between;

        @media (max-width:1240px) {
            flex-wrap: wrap;
            flex-basis: 600px;
        }

        a {
            display: inline-block;
            position: relative;
            font-size: 14px;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: 0.28px;
            text-transform: uppercase;
            color: $mainBlack;
            transition: all 0.2s ease;
            padding: 5px;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background-color: $mainRed;
                transition: all 0.2s ease;
            }

            @media (min-width: 768px) {
                &:hover::after {
                    height: 100%;

                }

                &:hover {
                    color: white;

                }
            }
        }
    }
}


// ----MAIN---SECTION-1--------------------------------------------------------

.section-1 {
    height: 700px;
    background: url(img/background.png) 0 0 no-repeat;
    background-size: cover;

    .container {
        display: flex;
        flex-direction: column;

        @media (max-width:1240px) {
            align-items: center;
        }

        .section-1__text {
            margin: 156px 0 0 108px;
            width: 586px;
            height: 310px;
            padding: 15px 30px;
            background: rgba(51, 51, 51, 0.50);
            color: var(--white, #FFF);
            font-size: 40px;
            font-weight: 800;
            line-height: 140%;

        }

        .section-1__btn {
            margin: 65px 0 0 108px;



            @media (max-width:1350px) {
                margin-left: 123px;
            }
        }
    }
}


// ----MAIN---SECTION-2--------------------------------------------------------

.section-2 {

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:1240px) {
            flex-direction: column;
        }


        .section-2__school-lavita {
            margin: 191px 0 0 108px;
            position: relative;
            width: 638px;
            padding: 86px 90px 76px 90px;
            border: 10px solid $mainRed;


            .section-2__title {
                position: absolute;
                top: -55px;
                left: 55px;
                background-color: white;
                padding: 10px 30px;

            }

            .section-2__text {
                color: $mainBlack;
                font-size: 18px;
                font-weight: 400;
                line-height: 140%;
            }
        }

        .section-2__background {
            margin-top: 191px;
            opacity: 0.1;

            @media (max-width:1240px) {
                display: none;
            }
        }

    }
}

// ----MAIN---SECTION-3--------------------------------------------------------


.section-3 {
    margin-top: 150px;

    .section-3__title {
        text-align: center;
        margin-bottom: 52px;
    }

    .section-3__btns {
        margin: 0 0 42px 173px;

        .section-3__btn {
            width: 175px;
            height: 68px;
            margin-right: 164px;
            text-align: center;
            font-size: 16px;
            font-weight: 400;

            @media (max-width:1240px) {
                margin-right: 80px;
                margin-bottom: 40px;
            }
        }
    }
}

.section-3__description {
    margin-bottom: 100px;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            color: var(--black, #333);
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 140%;
            transition: color 0.3s ease;

            &:hover {
                color: $mainHoverRed;
            }
        }
    }
}

.section-3__table {

    max-width: 1076px;
    margin: 0 auto;

    .table__title {
        display: flex;
        align-items: center;
        height: 48px;
        background-color: rgba(51, 51, 51, 0.05);

        h4 {
            color: $mainBlack;
            font-size: 20px;
            font-weight: 700;
            line-height: 140%;
            padding-left: 20px;
        }

        h4:first-child {
            flex-basis: 180px;
        }

        h4:nth-child(2) {
            flex-basis: 300px;
        }

        h4:last-child {
            flex-basis: 596px;
        }
    }

    .table__element {
        margin-top: 30px;
        display: flex;
        color: $mainBlack;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        border-bottom: 1px solid #33333320;

        &:last-child {
            border-bottom: none
        }

        p {
            padding-bottom: 18px;

            span {
                background-color: $mainRed;
                padding: 0 7px;
            }
        }

        .table__left {
            flex-basis: 180px;
            padding-left: 20px;
        }

        .table__center {
            flex-basis: 300px;
            padding-left: 20px;
        }

        .table__right {
            flex-basis: 596px;
            padding-left: 20px;
        }
    }

}



// ----MAIN---SECTION-4--------------------------------------------------------

.section-4 {
    margin-top: 150px;

    .container {

        .section-4__title {
            text-align: center;
        }


    }
}

.article {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 1350px) {
        & {
            flex-wrap: wrap;
            justify-content: space-around;


        }
    }

    .article__item {
        width: 306px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 1350px) {
            & {
                width: 550px;

            }
        }

        .article__title {
            margin-top: 30px;
            color: $mainBlack;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 140%;
            flex-grow: 0;
        }

        .article__text {
            color: $mainBlack;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            padding: 30px 20px 20px 30px;

            @media (max-width: 1350px) {
                & {
                    font-size: 1.5em;

                }
            }

            li {
                list-style-type: disc;
                margin-bottom: 15px;
            }

            li:last-child {
                margin-bottom: 0;
            }
        }

        .article__btn {
            align-self: center;

        }
    }
}



// ----MAIN---SECTION-5--------------------------------------------------------\
.section-5 {
    margin-top: 150px;

    .container {

        .section-5__title {
            text-align: center;
        }

        .section-5__article {
            @media (max-width: 1350px) {
                & {
                    justify-content: center;

                }
            }
        }

        .article {


            .article__item {
                width: 416px;
                align-self: stretch;

                .article__title {
                    margin-top: 25px;
                }

                .article__text {
                    padding: 15px 30px 30px 30px;
                }

                .article__btn {
                    align-self: start;
                    margin-left: 30px;
                }
            }
        }

    }
}

// ----MAIN---SECTION-5--------------------------------------------------------\\

.section-6 {
    margin-top: 150px;

    .container {

        .section-6__title {
            text-align: center;
        }

        .section-6__article {}

        .article {
            text-align: left;

            .article__item {

                .article__title {
                    text-align: left;
                    margin-bottom: 25px;
                }

                .article__text {
                    padding: 0;
                    margin-bottom: 35px;
                }

                .article__btn {
                    align-self: start;
                }
            }
        }
    }
}


// ----footer---SECTION-5--------------------------------------------------------\\



.footer {
    background: #33333310;

    .container {
        height: 588px;

        .footer__top {
            margin-top: 120px;
            height: 518px;
            display: flex;
            justify-content: space-between;
            padding-top: 60px;
            border-bottom: 1px solid #33333320;



            li {
                color: $mainBlack;
                font-size: 14px;
                font-weight: 400;
                line-height: 140%;
                margin-bottom: 15px;
            }

            .info {
                width: 221px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                margin-right: 69px;

                &:last-child {
                    margin-right: 0;
                }

                .info__title {
                    color: $mainBlack;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: 0.28px;
                    text-transform: uppercase;
                    margin-bottom: 42px;

                }

                .row-1__address {
                    margin-bottom: 20px;

                    &::before {
                        content: url(img/location.svg);
                        margin-right: 20px;
                        position: relative;
                        top: 8px;
                    }

                }

                .row-1__phone {
                    margin-bottom: 20px;

                    &::before {
                        content: url(img/phone.svg);
                        margin-right: 20px;
                        position: relative;
                    }

                    top: 8px;
                }

                .row-1__email::before {
                    content: url(img/email.svg);
                    margin-right: 20px;
                    position: relative;
                    top: 8px;
                }

                .info_logo {
                    margin-top: 40px;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 35px;

                    path {
                        transition: all 0.3s ease;
                    }

                    @media (min-width: 768px) {
                        svg:hover path {
                            fill: #ca0011;
                            transform: scale(0.95);
                        }
                    }
                }
            }

            .about-us {}

            .footer__title {
                color: $mainBlack;
                font-size: 20px;
                font-weight: 700;
                line-height: 140%;
                margin-bottom: 25px;


                .pay-learning {
                    margin-right: 69px;

                }

                .pay {}

                .learning {}
            }

            .exam {
                margin-right: 69px;


            }

            .scool {
                margin-right: 110px;
            }
        }

        .footer__bottom {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }
}