* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Heebo, sans-serif;
  border: none;
}
* a {
  text-decoration: none;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 1350px) {
  .container {
    padding: 0 50px;
  }
}

.btn {
  width: 143px;
  height: 40px;
  padding: 10px 0;
  background: #EC1B2E;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  white-space: nowrap;
  text-align: center;
  transition: background 0.3s ease;
}
@media (max-width: 1350px) {
  .btn {
    transform: scale(1.2);
  }
  .btn:hover {
    background: #ca0011;
  }
}

.title {
  color: #333;
  font-size: 48px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.48px;
}

.row-1 {
  border-bottom: 1px solid #333;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1240px) {
  .row-1 {
    display: flex;
    justify-content: space-around;
  }
}
.row-1 .row-1__info {
  width: 674px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1240px) {
  .row-1 .row-1__info {
    display: none;
  }
}
.row-1 .row-1__info div {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-right: 45px;
}
.row-1 .row-1__info div:last-child {
  margin-right: 0;
}
.row-1 .row-1__info .row-1__address::before {
  content: url(img/location.svg);
  margin-right: 20px;
  position: relative;
  top: 8px;
}
.row-1 .row-1__info .row-1__phone::before {
  content: url(img/phone.svg);
  margin-right: 20px;
  position: relative;
  top: 8px;
}
.row-1 .row-1__info .row-1__email::before {
  content: url(img/email.svg);
  margin-right: 20px;
  position: relative;
  top: 8px;
}
.row-1 .row-1__btn {
  animation: button 2s infinite ease-in-out;
}

.row-2 {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1240px) {
  .row-2 {
    flex-direction: column;
  }
}
.row-2 .list {
  flex-basis: 1069px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1240px) {
  .row-2 .list {
    flex-wrap: wrap;
    flex-basis: 600px;
  }
}
.row-2 .list a {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: #333;
  transition: all 0.2s ease;
  padding: 5px;
}
.row-2 .list a::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #EC1B2E;
  transition: all 0.2s ease;
}
@media (min-width: 768px) {
  .row-2 .list a:hover::after {
    height: 100%;
  }
  .row-2 .list a:hover {
    color: white;
  }
}

.section-1 {
  height: 700px;
  background: url(img/background.png) 0 0 no-repeat;
  background-size: cover;
}
.section-1 .container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1240px) {
  .section-1 .container {
    align-items: center;
  }
}
.section-1 .container .section-1__text {
  margin: 156px 0 0 108px;
  width: 586px;
  height: 310px;
  padding: 15px 30px;
  background: rgba(51, 51, 51, 0.5);
  color: var(--white, #FFF);
  font-size: 40px;
  font-weight: 800;
  line-height: 140%;
}
.section-1 .container .section-1__btn {
  margin: 65px 0 0 108px;
}
@media (max-width: 1350px) {
  .section-1 .container .section-1__btn {
    margin-left: 123px;
  }
}

.section-2 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1240px) {
  .section-2 .container {
    flex-direction: column;
  }
}
.section-2 .container .section-2__school-lavita {
  margin: 191px 0 0 108px;
  position: relative;
  width: 638px;
  padding: 86px 90px 76px 90px;
  border: 10px solid #EC1B2E;
}
.section-2 .container .section-2__school-lavita .section-2__title {
  position: absolute;
  top: -55px;
  left: 55px;
  background-color: white;
  padding: 10px 30px;
}
.section-2 .container .section-2__school-lavita .section-2__text {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.section-2 .container .section-2__background {
  margin-top: 191px;
  opacity: 0.1;
}
@media (max-width: 1240px) {
  .section-2 .container .section-2__background {
    display: none;
  }
}

.section-3 {
  margin-top: 150px;
}
.section-3 .section-3__title {
  text-align: center;
  margin-bottom: 52px;
}
.section-3 .section-3__btns {
  margin: 0 0 42px 173px;
}
.section-3 .section-3__btns .section-3__btn {
  width: 175px;
  height: 68px;
  margin-right: 164px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1240px) {
  .section-3 .section-3__btns .section-3__btn {
    margin-right: 80px;
    margin-bottom: 40px;
  }
}

.section-3__description {
  margin-bottom: 100px;
}
.section-3__description ul {
  display: flex;
  justify-content: space-between;
}
.section-3__description ul li {
  color: var(--black, #333);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  transition: color 0.3s ease;
}
.section-3__description ul li:hover {
  color: #ca0011;
}

.section-3__table {
  max-width: 1076px;
  margin: 0 auto;
}
.section-3__table .table__title {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: rgba(51, 51, 51, 0.05);
}
.section-3__table .table__title h4 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  padding-left: 20px;
}
.section-3__table .table__title h4:first-child {
  flex-basis: 180px;
}
.section-3__table .table__title h4:nth-child(2) {
  flex-basis: 300px;
}
.section-3__table .table__title h4:last-child {
  flex-basis: 596px;
}
.section-3__table .table__element {
  margin-top: 30px;
  display: flex;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1254901961);
}
.section-3__table .table__element:last-child {
  border-bottom: none;
}
.section-3__table .table__element p {
  padding-bottom: 18px;
}
.section-3__table .table__element p span {
  background-color: #EC1B2E;
  padding: 0 7px;
}
.section-3__table .table__element .table__left {
  flex-basis: 180px;
  padding-left: 20px;
}
.section-3__table .table__element .table__center {
  flex-basis: 300px;
  padding-left: 20px;
}
.section-3__table .table__element .table__right {
  flex-basis: 596px;
  padding-left: 20px;
}

.section-4 {
  margin-top: 150px;
}
.section-4 .container .section-4__title {
  text-align: center;
}

.article {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 1350px) {
  .article {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.article .article__item {
  width: 306px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1350px) {
  .article .article__item {
    width: 550px;
  }
}
.article .article__item .article__title {
  margin-top: 30px;
  color: #333;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  flex-grow: 0;
}
.article .article__item .article__text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  padding: 30px 20px 20px 30px;
}
@media (max-width: 1350px) {
  .article .article__item .article__text {
    font-size: 1.5em;
  }
}
.article .article__item .article__text li {
  list-style-type: disc;
  margin-bottom: 15px;
}
.article .article__item .article__text li:last-child {
  margin-bottom: 0;
}
.article .article__item .article__btn {
  align-self: center;
}

.section-5 {
  margin-top: 150px;
}
.section-5 .container .section-5__title {
  text-align: center;
}
@media (max-width: 1350px) {
  .section-5 .container .section-5__article {
    justify-content: center;
  }
}
.section-5 .container .article .article__item {
  width: 416px;
  align-self: stretch;
}
.section-5 .container .article .article__item .article__title {
  margin-top: 25px;
}
.section-5 .container .article .article__item .article__text {
  padding: 15px 30px 30px 30px;
}
.section-5 .container .article .article__item .article__btn {
  align-self: start;
  margin-left: 30px;
}

.section-6 {
  margin-top: 150px;
}
.section-6 .container .section-6__title {
  text-align: center;
}
.section-6 .container .article {
  text-align: left;
}
.section-6 .container .article .article__item .article__title {
  text-align: left;
  margin-bottom: 25px;
}
.section-6 .container .article .article__item .article__text {
  padding: 0;
  margin-bottom: 35px;
}
.section-6 .container .article .article__item .article__btn {
  align-self: start;
}

.footer {
  background: rgba(51, 51, 51, 0.062745098);
}
.footer .container {
  height: 588px;
}
.footer .container .footer__top {
  margin-top: 120px;
  height: 518px;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1254901961);
}
.footer .container .footer__top li {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 15px;
}
.footer .container .footer__top .info {
  width: 221px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-right: 69px;
}
.footer .container .footer__top .info:last-child {
  margin-right: 0;
}
.footer .container .footer__top .info .info__title {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  margin-bottom: 42px;
}
.footer .container .footer__top .info .row-1__address {
  margin-bottom: 20px;
}
.footer .container .footer__top .info .row-1__address::before {
  content: url(img/location.svg);
  margin-right: 20px;
  position: relative;
  top: 8px;
}
.footer .container .footer__top .info .row-1__phone {
  margin-bottom: 20px;
  top: 8px;
}
.footer .container .footer__top .info .row-1__phone::before {
  content: url(img/phone.svg);
  margin-right: 20px;
  position: relative;
}
.footer .container .footer__top .info .row-1__email::before {
  content: url(img/email.svg);
  margin-right: 20px;
  position: relative;
  top: 8px;
}
.footer .container .footer__top .info .info_logo {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 35px;
}
.footer .container .footer__top .info .info_logo path {
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .footer .container .footer__top .info .info_logo svg:hover path {
    fill: #ca0011;
    transform: scale(0.95);
  }
}
.footer .container .footer__top .about-us {
  margin-right: 69px;
  display: none;
}
.footer .container .footer__top .footer__title {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 25px;
  display: block;
}
.footer .container .footer__top .pay-learning {
  margin-right: 69px;
}
.footer .container .exam {
  margin-right: 69px;
}
.footer .container .scool {
  margin-right: 110px;
}
.footer .footer__bottom {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */