@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Doppio+One&family=Roboto:wght@100;300;400;500;700;900&family=Ysabeau+Infant:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau Infant", sans-serif;
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: #131218;
  color: #fff;
}

.container {
  max-width: 1084px;
  margin: 0 auto;
}

.container-small {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
@media (max-width: 950px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 20px;
  }
}
.title::after {
  content: "";
  display: block;
  height: 2px;
  background: #CC7408;
  margin-top: 10px;
  width: 300px;
}

ul.breadcrumb {
  list-style: none;
  z-index: 10;
  margin: 0;
}

ul.breadcrumb li {
  display: inline;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  content: "/ ";
}

ul.breadcrumb li a {
  text-decoration: none;
  transition: 0.5s ease;
}

ul.breadcrumb li a:hover {
  color: #CC7408;
}

i {
  transition: 0.3s ease;
  color: rgba(255, 255, 255, 0.6);
}
i:hover {
  color: #FFF;
}

.header-top {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 30px;
  border-bottom: 1px solid #242424;
}
.header-top__left {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 327px;
}
@media (max-width: 1050px) {
  .header-top__left {
    flex-basis: 227px;
  }
}
@media (max-width: 950px) {
  .header-top__left {
    flex-basis: 127px;
  }
}
@media (max-width: 650px) {
  .header-top__left {
    flex-basis: 42px;
  }
}
.header-top__city {
  margin-right: 20px;
}
@media (max-width: 650px) {
  .header-top__city {
    display: none;
  }
}
.header-top__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 262px;
}
@media (max-width: 800px) {
  .header-top__center {
    display: none;
  }
}
.header-top__right {
  display: flex;
}
.header-top__number {
  font-size: 13px;
  margin-left: 5px;
}
@media (max-width: 650px) {
  .header-top__number {
    font-size: 0.8em;
  }
}
@media (max-width: 650px) {
  .header-top__number span {
    display: none;
  }
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

.header-bottom {
  padding: 0 20px;
}
.header-bottom__logo {
  transform: translateX(-11px);
}
@media (max-width: 950px) {
  .header-bottom__logo a {
    width: 80%;
  }
}
.header-bottom__menu {
  flex: 0 1 608px;
}
@media (max-width: 750px) {
  .header-bottom__menu {
    display: none;
  }
}
.header-bottom__menu ul {
  display: flex;
  justify-content: space-between;
}
.header-bottom__link a {
  color: #FFF;
  text-align: center;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 950px) {
  .header-bottom__link a {
    font-size: 0.7em;
  }
}
.header-bottom__icons {
  display: flex;
  flex-wrap: nowrap;
}
.header-bottom__icon {
  margin-left: 20px;
}

.reviews {
  z-index: 10;
}
.reviews__head {
  padding: 0 20px;
}
.reviews__head p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
.reviews__head p span {
  color: #CC7408;
}
@media (max-width: 950px) {
  .reviews__head p {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .reviews__head p {
    font-size: 12px;
  }
}
.reviews__form {
  padding: 0 20px;
  margin: 19px 20px 0 20px;
}

.container-form {
  max-width: 815px;
  margin: 0 auto;
}

.form {
  box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
  background: #131218;
  border-radius: 30px;
  padding: 45px 40px 36px 40px;
}
.form__review {
  display: flex;
  gap: 9px;
}
.form__foto {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.form .ava1 {
  background: url(../img/review/avatar.jpg) center center no-repeat;
}
.form .ava2 {
  background: url(../img/review/avatar2.jpg) center center no-repeat;
}
.form__title {
  margin-left: 13px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__text {
  margin: 5px 0 5px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px 13px 16px 13px;
  border-radius: 15px;
  background: #2A292E;
}
.form__date {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-style: italic;
  color: rgba(255, 255, 255, 0.13);
  margin-bottom: 10px;
  margin-left: 13px;
}
.form__body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__body * {
  background-color: #131218;
}
.form__add {
  color: #CC7408;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
.form__name {
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
  font-style: italic;
  color: #fff;
  padding: 5px 20px;
}
.form__name:focus {
  box-shadow: 0px 4px 15px 1px #CC7408;
}
.form__email {
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
  font-style: italic;
  color: #fff;
  padding: 5px 20px;
}
.form__email:focus {
  box-shadow: 0px 4px 15px 1px #CC7408;
}
.form__area {
  height: 180px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
  font-style: italic;
  color: #fff;
  padding: 5px 20px;
}
.form__area:focus {
  box-shadow: 0px 4px 15px 1px #CC7408;
}
.form__grade {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-style: italic;
}
.form button {
  color: #FFF;
  width: 161px;
  font-size: 18px;
  border-radius: 5px;
  background: rgba(234, 131, 5, 0.6);
  padding: 13px 27px 13px 27px;
}
@media (max-width: 950px) {
  .form button {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .form button {
    font-size: 12px;
    width: 100%;
  }
}
.form__agree {
  display: flex;
  align-items: center;
}
.form__agree label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-style: italic;
  padding: 0 10px 0 30px;
  position: relative;
  margin-right: 40px;
}
@media (max-width: 650px) {
  .form__agree label {
    display: none;
  }
}
.form__agree input {
  visibility: hidden;
}
@media (max-width: 650px) {
  .form__agree input {
    display: none;
  }
}
.form__agree input:checked + label::after {
  border: 1px solid #CC7408;
  box-shadow: inset 0px 0px 7px 4px rgba(234, 131, 5, 0.6);
}
.form__agree label::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  right: -35px;
  top: -2px;
  border-radius: 5px;
  border: 1px solid #CC7408;
  background: #3B3A40;
  box-shadow: 0px 4px 20px 0px rgba(234, 131, 5, 0.6);
}

.slider4 {
  margin-top: 20px;
  min-width: 0;
  position: relative;
}
.slider4 .slick-track {
  display: flex;
  justify-content: space-between;
}
.slider4 .slick-list {
  overflow: hidden;
}
.slider4 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}
.slider4 .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider4 .slick-dots button {
  font-size: 0;
  height: 5px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: rgba(255, 255, 255, 0.6);
}
.slider4 .slick-dots li.slick-active button {
  background-color: #FFF;
  border: #FFF 1px solid;
}
.slider4 .slick-arrow {
  display: none;
}

.videoreviews {
  background: url(../img/service/orangeback.png) 0 center no-repeat;
  margin: -204px 0 130px 0;
  padding: 300px 0 100px 0;
}
.footer {
  padding: 0 20px;
}
.footer__row1 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .footer__row1 {
    flex-direction: column;
  }
}
.footer__row1-logo {
  transform: translateX(-16px);
  display: flex;
  align-items: center;
}
@media (max-width: 950px) {
  .footer__row1-logo img {
    width: 70%;
  }
}
.footer__row2 {
  display: flex;
  justify-content: space-between;
}
.footer__column1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-basis: 433px;
  margin-top: 52px;
}
@media (max-width: 650px) {
  .service {
    flex-basis: 100px;
  }
}
.service h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 11px;
}
@media (max-width: 950px) {
  .service h5 {
    font-size: 0.8em;
  }
}
.service a {
  color: #C4C4C4;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 950px) {
  .service a {
    font-size: 0.8em;
  }
}

.column1 {
  flex-basis: 400px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 950px) {
  .column1 {
    font-size: 0.8em;
  }
}
@media (max-width: 650px) {
  .column1 {
    flex-basis: 600px;
  }
}
.column1__logo-text {
  margin-bottom: 17px;
}
@media (max-width: 650px) {
  .column1__logo-text {
    display: none;
  }
}
.column1__info1 {
  margin-bottom: 15px;
  max-width: 235px;
}
.column1__info1 p:last-child {
  color: #FFF;
  font-size: 24px;
}
@media (max-width: 650px) {
  .column1__info1 p:last-child {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .column1__info1 {
    margin-top: 30px;
  }
}
.column1__info2 {
  margin-bottom: 15px;
  max-width: 235px;
}
.column1__info2 p:last-child {
  color: #FFF;
  font-size: 24px;
}
@media (max-width: 650px) {
  .column1__info2 p:last-child {
    font-size: 14px;
  }
}
.column1__info3 {
  max-width: 235px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .column1__info3 {
    max-width: none;
    justify-content: space-evenly;
    margin-top: 46px;
  }
}
@media (max-width: 650px) {
  .column1__pay {
    display: none;
  }
}
.column1__card a:first-child span {
  background: url(../img/page-1/footer/cards.png) 0 0px no-repeat;
}
.column1__card a:nth-child(2) span {
  background: url(../img/page-1/footer/cards.png) -35px 0 no-repeat;
}
.column1__card a:nth-child(3) span {
  background: url(../img/page-1/footer/cards.png) -70px 0px no-repeat;
}
.column1__card a:nth-child(4) span {
  background: url(../img/page-1/footer/cards.png)-105px 0px no-repeat;
}
.column1__card a:last-child span {
  background: url(../img/page-1/footer/cards.png) -140px 0px no-repeat;
}
.column1__card span {
  display: inline-block;
  width: 34px;
  height: 27px;
}
.column1__text {
  margin-top: 175px;
}
@media (max-width: 800px) {
  .column1__text {
    margin-top: 75px;
  }
}
@media (max-width: 650px) {
  .column1__text {
    display: none;
  }
}

.column2__img-phone {
  margin-top: 51px;
  display: flex;
  justify-content: end;
}
@media (max-width: 950px) {
  .column2__img-phone img,
  .column2__img-phone a {
    width: 80%;
    text-align: end;
  }
}
@media (max-width: 650px) {
  .column2__img-phone {
    display: none;
  }
}/*# sourceMappingURL=reviews.css.map */