//-----Обнуление------------------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
    border: none;

}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


//-----Подключение------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Doppio+One&family=Roboto:wght@100;300;400;500;700;900&family=Ysabeau+Infant:wght@400;500;600;700;800;900&display=swap');


//-----Переменные------------------------------------------------------------------------------

$orange: #CC7408;
$grey: rgba(255, 255, 255, 0.60);
$backgrond: #131218;



//------Миксин----------------------------------------------------------------------------
@mixin textGrey14 {
    color: $grey;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




//------Общие стили----------------------------------------------------------------------------


.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background-color: $backgrond;
    color: #fff;
    // font-family: sans-serif;

}

.container {
    max-width: 1084px;
    margin: 0 auto;

}

.container-small {
    max-width: 960px;
    margin: 0 auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;

    @media (max-width:950px) {
        font-size: 30px;

    }

    @media (max-width:650px) {
        font-size: 20px;

    }

    &::after {
        content: "";
        display: block;
        height: 2px;
        background: $orange;
        margin-top: 10px;
        width: 300px;
    }
}


ul.breadcrumb {
    list-style: none;
    z-index: 10;
    margin: 0;

}


ul.breadcrumb li {
    display: inline;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: $grey;
    z-index: 10;
}


ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}


ul.breadcrumb li a {
    text-decoration: none;
}


ul.breadcrumb li a:hover {
    text-decoration: underline;
}

//------HEADER----------------------------------------------------------------------------


.header {}

.header-top {
    max-width: 1400px;
    padding: 0 20px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $grey;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 30px;
    border-bottom: 1px solid #242424;
    ;

    &__left {
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 327px;

        @media (max-width:1050px) {
            flex-basis: 227px;
        }

        @media (max-width:950px) {
            flex-basis: 127px;

        }

        @media (max-width:650px) {
            flex-basis: 42px;

        }

    }

    &__city {
        margin-right: 20px;

        @media (max-width:650px) {
            display: none;

        }
    }

    &__city-name {}

    &__center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 262px;

        @media (max-width:800px) {
            display: none;

        }
    }

    &__right {
        display: flex;


    }

    &__number {
        font-size: 13px;
        margin-left: 5px;

        @media (max-width:650px) {
            font-size: 0.8em;

        }

        & span {
            @media (max-width:650px) {
                display: none;
            }
        }
    }
}


.social-icon {}

.header-bottom__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    overflow: hidden;
}

.header-bottom {
    padding: 0 20px;

    &__logo {
        transform: translateX(-11px);

        & a {
            @media (max-width:950px) {
                width: 80%;
                ;
            }
        }
    }

    &__menu {
        flex: 0 1 608px;

        @media (max-width:750px) {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;

        }
    }

    &__link a {
        color: #FFF;
        text-align: center;
        font-family: 'Ysabeau Infant', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width:950px) {
            font-size: 0.7em;
        }

    }

    &__icons {
        display: flex;
        flex-wrap: nowrap;

    }


    &__icon {
        margin-left: 20px;
    }
}


//------Section1 reviews ----------------------------------------------------------------------------

.reviews {
    z-index: 10;
    &__head {
        padding: 0 20px;

        p {
            display: flex;
            justify-content: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px;

            span {
                color: $orange;
            }
            
		@media (max-width:950px) {
            font-size: 16px;
		}

		@media (max-width:650px) {
font-size: 12px;
		}
        }
    }


    &__form {
        padding: 0 20px;
        margin: 19px 20px 0 20px;
    }
}

.container-form {
    max-width: 815px;
    margin: 0 auto;
}

.form {
    box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);

    background: #131218;
    border-radius: 30px;
    padding: 45px 40px 36px 40px;

    &__review {
        display: flex;
        gap: 9px;

    }

    &__foto {
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    .ava1 {
        background: url(../img/review/avatar.jpg) center center no-repeat;

    }

    .ava2 {
        background: url(../img/review/avatar2.jpg) center center no-repeat;

    }

    &__item {}

    &__title {
        margin-left: 13px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        margin: 5px 0 5px 0;
        @include textGrey14;
        padding: 16px 13px 16px 13px;
        border-radius: 15px;
        background: #2A292E;

    }

    &__date {
        @include textGrey14;
        font-style: italic;
        color: rgba(255, 255, 255, 0.13);
        margin-bottom: 10px;
        margin-left: 13px;
    }

    &__body {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & * {
            background-color: $backgrond;
        }
    }

    &__add {
        color: $orange;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;

    }

    &__name {
        height: 60px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
        font-style: italic;
        color: #fff;
        padding: 5px 20px;

        &:focus {
            box-shadow: 0px 4px 15px 1px $orange;
        }
    }

    &__email {
        height: 60px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
        font-style: italic;
        color: #fff;
        padding: 5px 20px;

        &:focus {
            box-shadow: 0px 4px 15px 1px $orange;
        }
    }


    &__area {
        height: 180px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
        font-style: italic;
        color: #fff;
        padding: 5px 20px;

        &:focus {
            box-shadow: 0px 4px 15px 1px $orange;
        }
    }

    &__grade {
        @include textGrey14;
        font-style: italic;
    }

    button {
        color: #FFF;
        width: 161px;
        font-size: 18px;
        border-radius: 5px;
        background: rgba(234, 131, 5, 0.60);
        padding: 13px 27px 13px 27px;
        @media (max-width:950px) {
            font-size: 16px;
		}

		@media (max-width:650px) {
font-size: 12px;
width: 100%;
		}
    }


    &__agree {
        display: flex;
        align-items: center;

        label {
            @include textGrey14;
            font-style: italic;
            padding: 0 10px 0 30px;
            position: relative;
            margin-right: 40px;
            @media (max-width:650px) {
                display: none;
                        }
        }

        input {
            visibility: hidden;
            @media (max-width:650px) {
                display: none;
                        }
        }

        input:checked+label::after {
            border: 1px solid $orange;
            box-shadow: inset 0px 0px 7px 4px rgba(234, 131, 5, 0.60);

        }

        label::after {
            position: absolute;
            content: "";
            width: 24px;
            height: 24px;
            right: -35px;
            top: -2px;
            border-radius: 5px;
            border: 1px solid $orange;
            background: #3B3A40;
            box-shadow: 0px 4px 20px 0px rgba(234, 131, 5, 0.60);

        }




    }


}


// ___________________________________________________________________



.slider4 {
    margin-top: 20px;
	min-width: 0;
	position: relative;


	.slick-track {
		display: flex;
		justify-content: space-between;

	}

	.slick-list {
		overflow: hidden;
	}


	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 22px;
	}

	.slick-dots li {
		list-style: none;
		margin: 0 10px;
	}

	.slick-dots button {
		font-size: 0;
		height: 5px;
		width: 50px;
		background-color: $grey;
		border: $grey;
	}

	.slick-dots li.slick-active button {
		background-color: #FFF;
		border: #FFF 1px solid;
	}

    .slick-arrow{
        display: none;
    }

}


//------Section 2 Video ----------------------------------------------------------------------------

.videoreviews {
    background: url(../img/service/orangeback.png) 0 center no-repeat;
    margin: -204px 0 130px 0;
    padding: 300px 0 100px 0;

    &__title {
    }
}











//------Footer ----------------------------------------------------------------------------



.footer {
    padding: 0 20px;

    &__row1 {
        display: flex;
        justify-content: space-between;

        @media (max-width:650px) {
            flex-direction: column;
        }
    }

    &__row1-logo {
        transform: translateX(-16px);
        display: flex;
        align-items: center;

        & img {
            @media (max-width:950px) {
                width: 70%;

            }
        }
    }

    &__row1-service {}

    &__row2 {
        display: flex;
        justify-content: space-between;
    }

    &__column1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

}

.service {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-basis: 433px;
    margin-top: 52px;

    @media (max-width:650px) {
        flex-basis: 100px;
    }

    h5 {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 11px;

        @media (max-width:950px) {
            font-size: 0.8em;
        }

    }

    a {
        color: #C4C4C4;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width:950px) {
            font-size: 0.8em;
        }

    }
}

.service-type1 {}

.service-type2 {}

.service-type3 {}

.column1 {
    flex-basis: 400px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $grey;

    @media (max-width:950px) {
        font-size: 0.8em;
    }

    @media (max-width:650px) {
        flex-basis: 600px;
    }

    &__logo-text {
        @media (max-width:650px) {
            display: none;
        }

        margin-bottom: 17px;
    }

    &__info1 {
        margin-bottom: 15px;
        max-width: 235px;

        & p:last-child {
            color: #FFF;
            font-size: 24px;

            @media (max-width:650px) {
                font-size: 14px;
            }
        }

        @media (max-width:650px) {
            margin-top: 30px;

        }
    }

    &__info2 {
        margin-bottom: 15px;
        max-width: 235px;

        & p:last-child {
            color: #FFF;
            font-size: 24px;

            @media (max-width:650px) {
                font-size: 14px;
            }
        }
    }

    &__info3 {
        max-width: 235px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:650px) {
            max-width: none;
            justify-content: space-evenly;
            margin-top: 46px;
        }
    }

    &__pay {
        @media (max-width:650px) {
            display: none;
        }
    }

    &__card {
        & a:first-child span {
            background: url(../img/page-1/footer/cards.png) 0 0px no-repeat;
        }

        & a:nth-child(2) span {
            background: url(../img/page-1/footer/cards.png) -35px 0 no-repeat;
        }

        & a:nth-child(3) span {
            background: url(../img/page-1/footer/cards.png) -70px 0px no-repeat;
        }

        & a:nth-child(4) span {
            background: url(../img/page-1/footer/cards.png)-105px 0px no-repeat;
        }

        & a:last-child span {
            background: url(../img/page-1/footer/cards.png) -140px 0px no-repeat;
        }

        span {
            display: inline-block;
            width: 34px;
            height: 27px;

        }

    }

    &__text {
        margin-top: 175px;

        @media (max-width:800px) {
            margin-top: 75px;
        }

        @media (max-width:650px) {
            display: none;
        }
    }
}

.social-icon {}

.column2 {

    &__img-phone {
        margin-top: 51px;
        display: flex;
        justify-content: end;

        img,
        a {
            @media (max-width:950px) {
                width: 80%;
                text-align: end;
            }
        }

        @media (max-width:650px) {
            display: none;
        }
    }

}