@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Doppio+One&family=Roboto:wght@100;300;400;500;700;900&family=Ysabeau+Infant:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau Infant", sans-serif;
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: #131218;
  color: #fff;
}

.container {
  max-width: 1084px;
  margin: 0 auto;
}

.container-small {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
@media (max-width: 950px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 20px;
  }
}
.title::after {
  content: "";
  display: block;
  height: 2px;
  background: #CC7408;
  margin-top: 10px;
  width: 300px;
}

ul.breadcrumb {
  list-style: none;
  z-index: 10;
  margin: 0;
}

ul.breadcrumb li {
  display: inline;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  content: "/ ";
}

ul.breadcrumb li a {
  text-decoration: none;
  transition: 0.5s ease;
}

ul.breadcrumb li a:hover {
  color: #CC7408;
}

i {
  transition: 0.3s ease;
  color: rgba(255, 255, 255, 0.6);
}
i:hover {
  color: #FFF;
}

.header-top {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 30px;
  border-bottom: 1px solid #242424;
}
.header-top__left {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 327px;
}
@media (max-width: 1050px) {
  .header-top__left {
    flex-basis: 227px;
  }
}
@media (max-width: 950px) {
  .header-top__left {
    flex-basis: 127px;
  }
}
@media (max-width: 650px) {
  .header-top__left {
    flex-basis: 42px;
  }
}
.header-top__city {
  margin-right: 20px;
}
@media (max-width: 650px) {
  .header-top__city {
    display: none;
  }
}
.header-top__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 262px;
}
@media (max-width: 800px) {
  .header-top__center {
    display: none;
  }
}
.header-top__right {
  display: flex;
}
.header-top__number {
  font-size: 13px;
  margin-left: 5px;
}
@media (max-width: 650px) {
  .header-top__number {
    font-size: 0.8em;
  }
}
@media (max-width: 650px) {
  .header-top__number span {
    display: none;
  }
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

.header-bottom {
  padding: 0 20px;
}
.header-bottom__logo {
  transform: translateX(-11px);
}
@media (max-width: 950px) {
  .header-bottom__logo a {
    width: 80%;
  }
}
.header-bottom__menu {
  flex: 0 1 608px;
}
@media (max-width: 750px) {
  .header-bottom__menu {
    display: none;
  }
}
.header-bottom__menu ul {
  display: flex;
  justify-content: space-between;
}
.header-bottom__link a {
  color: #FFF;
  text-align: center;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 950px) {
  .header-bottom__link a {
    font-size: 0.7em;
  }
}
.header-bottom__icons {
  display: flex;
  flex-wrap: nowrap;
}
.header-bottom__icon {
  margin-left: 20px;
}

.main {
  background: url(../img/service/orangeback.png) 0 center no-repeat;
}

.service {
  padding: 0 20px;
}
.service__rowtop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 27px;
}
@media (max-width: 800px) {
  .service__rowtop {
    gap: 17px;
  }
}
.service__left {
  background: url(../img/service/left.jpg) 0 0 no-repeat;
  background-size: cover;
}
.service__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service__novigation {
  display: flex;
  gap: 18px;
}
@media (max-width: 800px) {
  .service__novigation {
    display: none;
  }
}
.service__novigation button {
  background: none;
  display: flex;
  align-items: center;
}
.service__novigation button span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
}
.service__title {
  display: block;
  margin: 15px 0;
}
@media (max-width: 800px) {
  .service__title {
    margin: 0;
    flex-grow: 1;
  }
}
.service__title::after {
  display: none;
}
.service__description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 25px;
}
@media (max-width: 950px) {
  .service__description {
    font-size: 10px;
    line-height: 20px;
  }
}
@media (max-width: 800px) {
  .service__description {
    display: none;
  }
}
.service__description-none {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 25px;
  display: none;
}
@media (max-width: 800px) {
  .service__description-none {
    display: block;
    margin-top: 17px;
  }
}
.service__cost {
  margin-top: 12px;
  color: #CC7408;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
.service__button {
  width: 161px;
  width: 161px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: #131218;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 400;
}
.service__rowbottom {
  margin-top: 70px;
  padding-right: 20%;
}
.service__rowbottom button {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
}
.service__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.service-type {
  padding: 0 20px;
  margin-top: 68px;
}
.service-type__galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
}
@media (max-width: 950px) {
  .service-type__galery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .service-type__galery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.service-type__item {
  background: #3B3A40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
  overflow: hidden;
}
.service-type__item:hover img {
  transform: scale(1.1);
}
@media (max-width: 950px) {
  .service-type__item:nth-child(7) {
    display: none;
  }
}
@media (max-width: 950px) {
  .service-type__item:nth-child(8) {
    display: none;
  }
}
.service-type__item:hover {
  box-shadow: 0px 4px 20px 0px rgba(234, 131, 5, 0.6);
}
.service-type__item img {
  flex-shrink: 1;
  width: 100%;
  border-bottom-right-radius: 40px;
  transition: 0.5s ease;
}
.service-type__description {
  background-color: #3B3A40;
  padding: 15px 13px 5px 13px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.service-type__name {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
@media (max-width: 650px) {
  .service-type__name {
    font-size: 18px;
  }
}
.service-type__cost {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
@media (max-width: 650px) {
  .service-type__cost {
    font-size: 10px;
  }
}
.service-type__subname {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.paragraph {
  padding: 0 20px;
}

.paragraph__text {
  margin: 34px 0 80px 0;
  color: #3B3A40;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 950px) {
  .paragraph__text {
    margin-top: 30px;
  }
}
@media (max-width: 650px) {
  .paragraph__text {
    margin-top: 15px;
  }
}

.footer {
  padding: 0 20px;
}
.footer__row1 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .footer__row1 {
    flex-direction: column;
  }
}
.footer__row1-logo {
  transform: translateX(-16px);
  display: flex;
  align-items: center;
}
@media (max-width: 950px) {
  .footer__row1-logo img {
    width: 70%;
  }
}
.footer__row2 {
  display: flex;
  justify-content: space-between;
}
.footer__column1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-basis: 433px;
  margin-top: 52px;
}
@media (max-width: 650px) {
  .service {
    flex-basis: 100px;
  }
}
.service h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 11px;
}
@media (max-width: 950px) {
  .service h5 {
    font-size: 0.8em;
  }
}
.service a {
  color: #C4C4C4;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 950px) {
  .service a {
    font-size: 0.8em;
  }
}

.column1 {
  flex-basis: 400px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 950px) {
  .column1 {
    font-size: 0.8em;
  }
}
@media (max-width: 650px) {
  .column1 {
    flex-basis: 600px;
  }
}
.column1__logo-text {
  margin-bottom: 17px;
}
@media (max-width: 650px) {
  .column1__logo-text {
    display: none;
  }
}
.column1__info1 {
  margin-bottom: 15px;
  max-width: 235px;
}
.column1__info1 p:last-child {
  color: #FFF;
  font-size: 24px;
}
@media (max-width: 650px) {
  .column1__info1 p:last-child {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .column1__info1 {
    margin-top: 30px;
  }
}
.column1__info2 {
  margin-bottom: 15px;
  max-width: 235px;
}
.column1__info2 p:last-child {
  color: #FFF;
  font-size: 24px;
}
@media (max-width: 650px) {
  .column1__info2 p:last-child {
    font-size: 14px;
  }
}
.column1__info3 {
  max-width: 235px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .column1__info3 {
    max-width: none;
    justify-content: space-evenly;
    margin-top: 46px;
  }
}
@media (max-width: 650px) {
  .column1__pay {
    display: none;
  }
}
.column1__card a:first-child span {
  background: url(../img/page-1/footer/cards.png) 0 0px no-repeat;
}
.column1__card a:nth-child(2) span {
  background: url(../img/page-1/footer/cards.png) -35px 0 no-repeat;
}
.column1__card a:nth-child(3) span {
  background: url(../img/page-1/footer/cards.png) -70px 0px no-repeat;
}
.column1__card a:nth-child(4) span {
  background: url(../img/page-1/footer/cards.png)-105px 0px no-repeat;
}
.column1__card a:last-child span {
  background: url(../img/page-1/footer/cards.png) -140px 0px no-repeat;
}
.column1__card span {
  display: inline-block;
  width: 34px;
  height: 27px;
}
.column1__text {
  margin-top: 175px;
}
@media (max-width: 800px) {
  .column1__text {
    margin-top: 75px;
  }
}
@media (max-width: 650px) {
  .column1__text {
    display: none;
  }
}

.column2__img-phone {
  margin-top: 51px;
  display: flex;
  justify-content: end;
}
@media (max-width: 950px) {
  .column2__img-phone img,
  .column2__img-phone a {
    width: 80%;
    text-align: end;
  }
}
@media (max-width: 650px) {
  .column2__img-phone {
    display: none;
  }
}/*# sourceMappingURL=service.css.map */