//-----Обнуление------------------------------------------------------------------------------

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ysabeau Infant', sans-serif;
	border: none;

}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}


//-----Подключение------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Doppio+One&family=Roboto:wght@100;300;400;500;700;900&family=Ysabeau+Infant:wght@400;500;600;700;800;900&display=swap');


//-----Переменные------------------------------------------------------------------------------

$orange: #CC7408;
$grey: rgba(255, 255, 255, 0.60);
$backgrond: #131218;



//------Анимации----------------------------------------------------------------------------


//------Общие стили----------------------------------------------------------------------------


.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	background-color: $backgrond;
	color: #fff;
	// font-family: sans-serif;
	
}

.container {
	max-width: 1084px;
	margin: 0 auto;

}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px;

	@media (max-width:950px) {
		font-size: 30px;

	}

	@media (max-width:650px) {
		font-size: 20px;

	}

	&::after {
		content: "";
		display: block;
		height: 2px;
		background: $orange;
		margin-top: 10px;
		width: 300px;
	}
}

//------Popup----------------------------------------------------------------------------

.popup {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: #0f0f0fcb;
	top: 0;
	left: 0;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;

}

.popup__content {
	position: relative;
	background-color: #fff;
	min-width: 600px;
	padding: 30px;
	border-radius: 10px;
		@media (max-width:650px) {
			min-width: 300px;
	}
}

.popup__close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: url(../img/page-1/iconsfont/popupclose.png) center center no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup__title {
	font-family: "Doppio One", sans-serif;
	font-size: 48px;
	text-align: center;
	color: $orange;
	margin-bottom: 1px;

	@media (max-width:650px) {
		font-size: 36px;
	}
}

.popup__text {
	font-family: "Doppio One", sans-serif;
	font-size: 24px;
	text-align: center;
	color: #5a5a5a;
	margin-bottom: 41px;
	font-weight: 400;

	@media (max-width:650px) {
		font-size: 12px;
	}
}

.popup-fix {
	position: fixed;
}


//------HEADER----------------------------------------------------------------------------


.header {}

.header-top {
	max-width: 1400px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $grey;
	font-family: 'Ysabeau Infant', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	height: 30px;
	border-bottom: 1px solid #242424;
	;

	&__left {
		display: flex;
		flex-wrap: nowrap;
		flex-basis: 327px;

		@media (max-width:1050px) {
			flex-basis: 227px;
		}

		@media (max-width:950px) {
			flex-basis: 127px;

		}

		@media (max-width:650px) {
			flex-basis: 42px;

		}

	}

	&__city {
		margin-right: 20px;

		@media (max-width:650px) {
			display: none;

		}
	}

	&__city-name {}

	&__center {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 1 262px;

		@media (max-width:800px) {
			display: none;

		}
	}

	&__right {
		display: flex;


	}

	&__number {
		font-size: 13px;
		margin-left: 5px;

		@media (max-width:650px) {
			font-size: 0.8em;

		}

		& span {
			@media (max-width:650px) {
				display: none;
			}
		}
	}
}


.social-icon {}

.header-bottom__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.header-bottom {
	position: relative;
	padding: 0 20px;
	
	&__logo {
		transform: translateX(-11px);
		img {
			
			@media (max-width:750px) {
				width: 100px;
			}

		}
		& a {
			@media (max-width:950px) {
				width: 80%;
				;
			}
		}
	}

	&__menu {
		flex: 0 1 608px;


		ul {
			display: flex;
			justify-content: space-between;

		}
	}

	&__link a {
		color: #FFF;
		text-align: center;
		font-family: 'Ysabeau Infant', sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		@media (max-width:950px) {
			font-size: 0.7em;
		}

	}

	&__icons {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: 20px;
		margin-left: 20px;
	}


	&__icon {
		
	}
}

//------Burger menu----------------------------------------------------------------------------


.menu-btn {
	display: none;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
	@media (max-width:750px) {
		display: block;
	}
}
.menu-btn span {
	background-color:#FFF;
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 7px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 7px);
}

.menu-btn.active span:nth-of-type(1) {
	display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);  
  }
  .menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg); 
  }

  .header-bottom__menu {
	@media (max-width:750px){
		position: absolute;
		top: -100%;
		transition: 0.3s;
	}
  }
	

  .header-bottom__menu.active{
	flex: 0 1 608px;
	display: block;
	@media (max-width:750px) {
		position: absolute;
		z-index: 100;
		top: 100px;
		left: 0;
		width: 100%;
		padding: 20px 0 20px 15px;
		transform: translateX(0);
		background-color:$backgrond; 
		transition: 0.5s;
		ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 10px;
		a{
			font-size: 18px;
	}
		}

	}


}


//------section1 slider----------------------------------------------------------------------------

.banner {


	.container {}
}

.slick-track {
	display: flex;
}

.slick-list {
	overflow: hidden;
}




.slider1 {
	position: relative;

	.slider1__item {
		position: relative;
		display: flex;
		align-items: center;
	}

	.slider1__info {
		position: absolute;
		width: 253px;
		right: 100px;
		z-index: 50;

		@media (max-width:650px) {
			right: 10px;
		}


		.slider1__title {
			color: #fff;
			font-family: 'Ysabeau Infant', sans-serif;
			font-size: 36px;
			font-style: normal;
			font-weight: 400;
			line-height: 35px;

			@media (max-width:950px) {
				font-size: 24px;
			}

			@media (max-width:650px) {
				font-size: 20px;
			}

			span {
				font-size: 18px;
			}
		}

		.slider1__text {
			margin-top: 10px;
			color: #fff;
			font-family: 'Ysabeau Infant', sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 30px;

			@media (max-width:950px) {
				font-size: 16px;
			}

			@media (max-width:650px) {
				font-size: 12px;
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		z-index: 50;
		font-size: 0;
		width: 50px;
		height: 60px;
		border: none;
		margin: 0 30px;
	}

	.slick-arrow.slick-prev {
		left: 0;
		background: url(../img/page-1/section-1/banner/next.png)0 0 / 100% no-repeat;
		background-size: cover;
		transform: translateY(-30px);
	}

	.slick-arrow.slick-next {
		right: 0;
		background: url(../img/page-1/section-1/banner/prev.png )0 0 / 100% no-repeat;
		background-size: cover;
		transform: translateY(-30px);
	}

}

//------section2 product----------------------------------------------------------------------------


.product {
	padding: 0 20px;

	&__grid {
		position: relative;
		top: 80px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 20px 20px;

		@media(max-width:650px) {
			gap: 19px 19px;
		}

		div {
			padding: 10% 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			transition: 0.5s ease;
			&:hover{
				box-shadow: 0px 4px 20px 0px rgba(234, 131, 5, 0.60);
			}
		}
	}

	@media (max-width:650px) {
		border-radius: 5px;
	}

	&__item {}


	p {
		margin-top: 30px;
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		@media (max-width:950px) {
			font-size: 16px;
			margin-top: 15px;
		}

		@media (max-width:650px) {
			font-size: 12px;
		}

	}

	img {
		@media (max-width:950px) {
			width: 130px;
		}

		@media (max-width:650px) {
			width: 60px;

		}
	}



	&__item1 {
		transition: all 0.5s ease;
		background: url(../img/page-1/section-2/1.jpg) center center no-repeat;
		background-size: 120%;

		&:hover {
			background-size: 160%;
		}
	}

	&__item2 {
		transition: all 0.5s ease;
		background: url(../img/page-1/section-2/3.jpg)center center no-repeat;
		background-size: 120%;

		&:hover {
			background-size: 160%;
		}
	}

	&__item3 {
		transition: all 0.5s ease;
		background: url(../img/page-1/section-2/2.jpg) center center no-repeat;
		background-size: 120%;

		&:hover {
			background-size: 160%;
		}
	}

	&__item4 {
		transition: all 0.5s ease;
		background: url(../img/page-1/section-2/4.jpg) center center no-repeat;
		background-size: 120%;

		&:hover {
			background-size: 160%;
		}
	}

}

//------section3 brands----------------------------------------------------------------------------


.brands {
	background-color: $orange;
	overflow: hidden;

	.container {
		padding: 0 20px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 200px;
	}

	&__item {
		width: 20%;
		margin-bottom: 15px;
		overflow: hidden;

		img {
			max-width: 80%;
		}
	}
}

//------section4 Goods----------------------------------------------------------------------------
.goods {
	position: relative;

	.container {
		padding: 0 50px;

	}

	&__body {
		margin-top: 86px;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 42px;

	}

}



.slider2 {
	min-width: 0;

	.slick-track {
		display: flex;
		justify-content: center;

	}

	.slick-list {
		overflow: hidden;
		margin: 0 15px 0 26px;
	}


	.slick-arrow {
		position: absolute;
		top: 50%;
		z-index: 50;
		font-size: 0;
		width: 50px;
		height: 60px;
		border: none;
	}

	.slick-arrow.slick-prev {
		left: -42px;
		background: url(../img/page-1/section-1/banner/next.png)0 0 / 100% no-repeat;
		background-size: cover;
		transform: translateY(-30px);
	}

	.slick-arrow.slick-next {
		right: -30px;
		background: url(../img/page-1/section-1/banner/prev.png )0 0 / 100% no-repeat;
		background-size: cover;
		transform: translateY(-30px);
	}

	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 22px;
	}

	.slick-dots li {
		list-style: none;
		margin: 0 10px;
	}

	.slick-dots button {
		font-size: 0;
		height: 5px;
		width: 50px;
		background-color: $grey;
		border: $grey;
	}

	.slick-dots li.slick-active button {
		background-color: #FFF;
		border: #FFF 1px solid;
	}

}

.good-item {
	font-size: 0;

	&__description {
		padding: 0 13px 11px 13px;
		max-width: 220px;
		background-color: #3B3A40;
	}

	&__name {
		font-size: 14px;
		font-weight: 400;
		line-height: 35px;
	}

	&__model {
		font-size: 24px;
		font-weight: 400;
		line-height: 35px
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: end;
		margin-top: 10px;
	}

	&__cost {}

	&__cost-sale {
		color: $grey;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-decoration: line-through;
	}

	&__cost {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
	}

	&__reviews {
		color: $grey;
		font-size: 14px;
		font-weight: 400;
	}


}

//------section5 services----------------------------------------------------------------------------


.services {
	padding: 0 20px;

	&__body {
		margin-top: 65px;
		display: flex;
		flex-direction: column;
		
	}

	&__title {
		margin-bottom: 42px;
	}

	&__type {
		display: flex;
		justify-content: space-between;
		gap: 13px;
		
		& div {
			position: relative;
			overflow: hidden;
			transition: 0.3s ease;
			&:hover{
				box-shadow: 0px 4px 20px 0px rgba(234, 131, 5, 0.60);
			}
			& img {
				object-fit: none;
			}

			@media(max-width: 950px) {
				width: 250px;
				height: 300px;

			}
		}
	}

	&__type1::after {
		content: "ОБУЧЕНИЕ";
		font-size: 24px;
		line-height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 98px;
		width: 100%;
		background-color: rgba(19, 18, 24, 0.80);
		transition: all 0.5s ease;

		@media(max-width: 950px) {
			font-size: 14px;
			line-height: 20px;

		}

	}

	&__type1:hover::after {
		height: 100%;
		content: "В нашей гитарной мастерской мы оказываем полный спектр услуг по ремонту и обслуживанию  музыкальных инструментов, в том числе и изготовление на заказ. ";
		padding: 17px 20px;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		box-sizing: border-box;

		@media(max-width: 650px) {
			font-size: 14px;
			line-height: 20px;
			padding: 5px 5px;

		}
	}

	&__type2::after {
		content: "ОБСЛУЖИВАНИЕ";
		font-size: 24px;
		line-height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 98px;
		width: 100%;
		background-color: rgba(19, 18, 24, 0.80);
		transition: all 0.5s ease;

		@media(max-width: 950px) {
			font-size: 14px;
			line-height: 20px;

		}

	}

	&__type2:hover::after {
		height: 100%;
		content: "В нашей гитарной мастерской мы оказываем полный спектр услуг по ремонту и обслуживанию  музыкальных инструментов, в том числе и изготовление на заказ. ";
		padding: 17px 20px;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		box-sizing: border-box;

		@media(max-width: 650px) {
			font-size: 14px;
			line-height: 20px;
			padding: 5px 5px;

		}
	}

	&__type3::after {
		content: "РЕМОНТ";
		font-size: 24px;
		line-height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 98px;
		width: 100%;
		background-color: rgba(19, 18, 24, 0.80);
		transition: all 0.5s ease;

		@media(max-width: 950px) {
			font-size: 14px;
			line-height: 20px;

		}

	}

	&__type3:hover::after {
		height: 100%;
		content: "В нашей гитарной мастерской мы оказываем полный спектр услуг по ремонту и обслуживанию  музыкальных инструментов, в том числе и изготовление на заказ. ";
		padding: 17px 20px;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		box-sizing: border-box;

		@media(max-width: 650px) {
			font-size: 14px;
			line-height: 20px;
			padding: 5px 5px;

		}
	}
}


//------section6 Join----------------------------------------------------------------------------
.join {
	background: url(../img/page-1/section-6/background.jpg)0 center no-repeat;
	border-bottom: 2px solid #242424;
	padding: 0 20px;
	;

	.container {
		display: flex;
		justify-content: flex-end;
	}

	&__form {
		margin: 174px 0;
		background: #fcf7f2;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
		border-radius: 30px;
		width: 600px;
		padding: 40px 36px 36px 45px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@media (max-width:650px) {
			width: 100%;
			padding: 9px;
		}
	}

	&__subtitle {
		font-family: "Doppio One", sans-serif;
		font-size: 18px;
		text-align: center;
		color: #3b3a40;
		font-weight: 400;

		@media (max-width:650px) {
			font-size: 14px;
		}

	}

	&__title {
		font-family: "Doppio One", sans-serif;
		font-size: 48px;
		text-align: center;
		color: $orange;
		margin-bottom: 1px;

		@media (max-width:650px) {
			font-size: 36px;
		}
	}

	&__text {
		font-family: "Doppio One", sans-serif;
		font-size: 14px;
		text-align: center;
		color: #bfb9b1;
		margin-bottom: 41px;
		font-weight: 400;

		@media (max-width:650px) {
			font-size: 12px;
		}
	}


	&__input-body {
		display: flex;
		width: 100%;
	}


	&__input {
		width: 452px;
		height: 43px;
		background: #f2eae0;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
		border-radius: 5px;
		font-size: 18px;
		color: rgba(59, 58, 64, 0.6);

		@media (max-width:650px) {
			width: 352px;
			height: 33px;
		}

	}

	&__button {
		width: 77px;
		height: 43px;
		background: url(../img/page-1/section-6/send.svg) center no-repeat #CC7408;
		border-radius: 5px;
		margin-left: 11px;
		flex: none;
		border: none;
		position: relative;

		& a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}

		@media (max-width:650px) {
			width: 45px;
			height: 33px;
		}
	}

	&__subtext {
		align-self: flex-start;

		a {
			font-style: italic;
			font-size: 14px;
			color: rgba(196, 196, 196, 0.6);
			margin-top: 6px;
			text-decoration: underline;
		}
	}
}

//------Footer ----------------------------------------------------------------------------

.footer {
	padding: 0 20px;

	&__row1 {
		display: flex;
		justify-content: space-between;

		@media (max-width:650px) {
			flex-direction: column;
		}
	}

	&__row1-logo {
		transform: translateX(-16px);
		display: flex;
		align-items: center;

		& img {
			@media (max-width:950px) {
				width: 70%;

			}
		}
	}

	&__row1-service {}

	&__row2 {
		display: flex;
		justify-content: space-between;
	}

	&__column1 {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

}

.service {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-basis: 433px;
	margin-top: 52px;

	@media (max-width:650px) {
		flex-basis: 100px;
	}

	h5 {
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 11px;

		@media (max-width:950px) {
			font-size: 0.8em;
		}

	}

	a {
		color: #C4C4C4;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		@media (max-width:950px) {
			font-size: 0.8em;
		}

	}
}

.service-type1 {}

.service-type2 {}

.service-type3 {}

.column1 {
	flex-basis: 400px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: $grey;

	@media (max-width:950px) {
		font-size: 0.8em;
	}

	@media (max-width:650px) {
		flex-basis: 600px;
	}

	&__logo-text {
		@media (max-width:650px) {
			display: none;
		}

		margin-bottom: 17px;
	}

	&__info1 {
		margin-bottom: 15px;
		max-width: 235px;

		& p:last-child {
			color: #FFF;
			font-size: 24px;

			@media (max-width:650px) {
				font-size: 14px;
			}
		}

		@media (max-width:650px) {
			margin-top: 30px;

		}
	}

	&__info2 {
		margin-bottom: 15px;
		max-width: 235px;

		& p:last-child {
			color: #FFF;
			font-size: 24px;

			@media (max-width:650px) {
				font-size: 14px;
			}
		}
	}

	&__info3 {
		max-width: 235px;
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width:650px) {
			max-width: none;
			justify-content: space-evenly;
			margin-top: 46px;
		}
	}

	&__pay {
		@media (max-width:650px) {
			display: none;
		}
	}

	&__card {
		& a:first-child span {
			background: url(../img/page-1/footer/cards.png) 0 0px no-repeat;
		}

		& a:nth-child(2) span {
			background: url(../img/page-1/footer/cards.png) -35px 0 no-repeat;
		}

		& a:nth-child(3) span {
			background: url(../img/page-1/footer/cards.png) -70px 0px no-repeat;
		}

		& a:nth-child(4) span {
			background: url(../img/page-1/footer/cards.png)-105px 0px no-repeat;
		}

		& a:last-child span {
			background: url(../img/page-1/footer/cards.png) -140px 0px no-repeat;
		}

		span {
			display: inline-block;
			width: 34px;
			height: 27px;

		}

	}

	&__text {
		margin-top: 175px;

		@media (max-width:800px) {
			margin-top: 75px;
		}

		@media (max-width:650px) {
			display: none;
		}
	}
}

.social-icon {}

.column2 {

	&__img-phone {
		margin-top: 51px;
		display: flex;
		justify-content: end;

		img,
		a {
			@media (max-width:950px) {
				width: 80%;
				text-align: end;
			}
		}

		@media (max-width:650px) {
			display: none;
		}
	}

}