@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Doppio+One&family=Roboto:wght@100;300;400;500;700;900&family=Ysabeau+Infant:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau Infant", sans-serif;
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: #131218;
  color: #fff;
}

.container {
  max-width: 1084px;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
@media (max-width: 950px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 20px;
  }
}
.title::after {
  content: "";
  display: block;
  height: 2px;
  background: #CC7408;
  margin-top: 10px;
  width: 300px;
}

.header-top {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 30px;
  border-bottom: 1px solid #242424;
}
.header-top__left {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 327px;
}
@media (max-width: 1050px) {
  .header-top__left {
    flex-basis: 227px;
  }
}
@media (max-width: 950px) {
  .header-top__left {
    flex-basis: 127px;
  }
}
@media (max-width: 650px) {
  .header-top__left {
    flex-basis: 42px;
  }
}
.header-top__city {
  margin-right: 20px;
}
@media (max-width: 650px) {
  .header-top__city {
    display: none;
  }
}
.header-top__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 262px;
}
@media (max-width: 800px) {
  .header-top__center {
    display: none;
  }
}
.header-top__right {
  display: flex;
}
.header-top__number {
  font-size: 13px;
  margin-left: 5px;
}
@media (max-width: 650px) {
  .header-top__number {
    font-size: 0.8em;
  }
}
@media (max-width: 650px) {
  .header-top__number span {
    display: none;
  }
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-bottom {
  padding: 0 20px;
}
.header-bottom__logo {
  transform: translateX(-11px);
}
@media (max-width: 950px) {
  .header-bottom__logo a {
    width: 80%;
  }
}
.header-bottom__menu {
  flex: 0 1 608px;
}
@media (max-width: 750px) {
  .header-bottom__menu {
    display: none;
  }
}
.header-bottom__menu ul {
  display: flex;
  justify-content: space-between;
}
.header-bottom__link a {
  color: #FFF;
  text-align: center;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 950px) {
  .header-bottom__link a {
    font-size: 0.7em;
  }
}
.header-bottom__icons {
  display: flex;
  flex-wrap: nowrap;
}
.header-bottom__icon {
  margin-left: 20px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider1 {
  position: relative;
}
.slider1 .slider1__item {
  position: relative;
  display: flex;
  align-items: center;
}
.slider1 .slider1__info {
  position: absolute;
  width: 253px;
  right: 100px;
  z-index: 50;
}
@media (max-width: 650px) {
  .slider1 .slider1__info {
    right: 10px;
  }
}
.slider1 .slider1__info .slider1__title {
  color: #fff;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
@media (max-width: 950px) {
  .slider1 .slider1__info .slider1__title {
    font-size: 24px;
  }
}
@media (max-width: 650px) {
  .slider1 .slider1__info .slider1__title {
    font-size: 20px;
  }
}
.slider1 .slider1__info .slider1__title span {
  font-size: 18px;
}
.slider1 .slider1__info .slider1__text {
  margin-top: 10px;
  color: #fff;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 950px) {
  .slider1 .slider1__info .slider1__text {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .slider1 .slider1__info .slider1__text {
    font-size: 12px;
  }
}
.slider1 .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 50;
  font-size: 0;
  width: 50px;
  height: 60px;
  border: none;
  margin: 0 30px;
}
.slider1 .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/page-1/section-1/banner/next.png) 0 0/100% no-repeat;
  background-size: cover;
  transform: translateY(-30px);
}
.slider1 .slick-arrow.slick-next {
  right: 0;
  background: url(../img/page-1/section-1/banner/prev.png) 0 0/100% no-repeat;
  background-size: cover;
  transform: translateY(-30px);
}

.product {
  height: 500px;
  padding: 0 20px;
}
.product__row {
  display: flex;
  margin: 0 -9px;
  position: relative;
  top: 70px;
  left: 0;
}
.product__column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 9px;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.product__column div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 0 100px 0;
}
.product__column div p {
  margin-top: 30px;
  font-family: ABeeZee, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__item1 {
  background: url(../img/page-1/section-2/1.jpg) center center no-repeat;
  background-size: cover;
}
.product__item2 {
  background: url(../img/page-1/section-2/3.jpg) center center no-repeat;
  background-size: cover;
}
.product__item3 {
  background: url(../img/page-1/section-2/2.jpg) center center no-repeat;
  background-size: cover;
}
.product__item4 {
  background: url(../img/page-1/section-2/4.jpg) 0 0 no-repeat;
  background-size: cover;
}

.brands {
  background-color: #CC7408;
  margin-top: 200px;
  overflow: hidden;
}
.brands .container {
  padding: 0 20px;
}
.brands__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 200px;
}
.brands__item {
  width: 20%;
  margin-bottom: 15px;
  overflow: hidden;
}
.brands__item img {
  max-width: 80%;
}

.goods {
  position: relative;
}
.goods .container {
  padding: 0 50px;
}
.goods__body {
  margin-top: 86px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.goods__title {
  margin-bottom: 42px;
}

.slider2 {
  min-width: 0;
}
.slider2 .slick-track {
  display: flex;
  justify-content: center;
}
.slider2 .slick-list {
  overflow: hidden;
  margin: 0 15px 0 26px;
}
.slider2 .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 50;
  font-size: 0;
  width: 50px;
  height: 60px;
  border: none;
}
.slider2 .slick-arrow.slick-prev {
  left: -42px;
  background: url(../img/page-1/section-1/banner/next.png) 0 0/100% no-repeat;
  background-size: cover;
  transform: translateY(-30px);
}
.slider2 .slick-arrow.slick-next {
  right: -30px;
  background: url(../img/page-1/section-1/banner/prev.png) 0 0/100% no-repeat;
  background-size: cover;
  transform: translateY(-30px);
}
.slider2 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}
.slider2 .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider2 .slick-dots button {
  font-size: 0;
  height: 5px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: rgba(255, 255, 255, 0.6);
}
.slider2 .slick-dots li.slick-active button {
  background-color: #FFF;
  border: #FFF 1px solid;
}

.good-item {
  font-size: 0;
}
.good-item__description {
  padding: 0 13px 11px 13px;
  max-width: 220px;
  background-color: #3B3A40;
}
.good-item__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
}
.good-item__model {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}
.good-item__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
}
.good-item__cost-sale {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: line-through;
}
.good-item__cost {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.good-item__reviews {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
}

.services__body {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}
.services__title {
  margin-bottom: 42px;
}
.services__type {
  display: flex;
  justify-content: space-between;
}
.services__type div {
  position: relative;
}
.services__type1::after {
  content: "ОБУЧЕНИЕ";
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 98px;
  width: 100%;
  background-color: rgba(19, 18, 24, 0.8);
  transition: all 0.5s ease;
}
.services__type1:hover::after {
  height: 100%;
  content: "В нашей гитарной мастерской мы оказываем полный спектр услуг по ремонту и обслуживанию  музыкальных инструментов, в том числе и изготовление на заказ. ";
  padding: 17px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  box-sizing: border-box;
}
.services__type2::after {
  content: "ОБСЛУЖИВАНИЕ";
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 98px;
  width: 100%;
  background-color: rgba(19, 18, 24, 0.8);
  transition: all 0.5s ease;
}
.services__type2:hover::after {
  height: 100%;
  content: "В нашей гитарной мастерской мы оказываем полный спектр услуг по ремонту и обслуживанию  музыкальных инструментов, в том числе и изготовление на заказ. ";
  padding: 17px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  box-sizing: border-box;
}
.services__type3::after {
  content: "РЕМОНТ";
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 98px;
  width: 100%;
  background-color: rgba(19, 18, 24, 0.8);
  transition: all 0.5s ease;
}
.services__type3:hover::after {
  height: 100%;
  content: "В нашей гитарной мастерской мы оказываем полный спектр услуг по ремонту и обслуживанию  музыкальных инструментов, в том числе и изготовление на заказ. ";
  padding: 17px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  box-sizing: border-box;
}

.join {
  background: url(../img/page-1/section-6/background.jpg) 0 center no-repeat;
  border-bottom: 2px solid #242424;
  padding: 0 20px;
}
.join .container {
  display: flex;
  justify-content: flex-end;
}
.join__form {
  margin: 174px 0;
  background: #fcf7f2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  border-radius: 30px;
  width: 600px;
  padding: 40px 36px 36px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .join__form {
    width: 100%;
    padding: 9px;
  }
}
.join__subtitle {
  font-family: "Doppio One", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #3b3a40;
  font-weight: 400;
}
@media (max-width: 650px) {
  .join__subtitle {
    font-size: 14px;
  }
}
.join__title {
  font-family: "Doppio One", sans-serif;
  font-size: 48px;
  text-align: center;
  color: #CC7408;
  margin-bottom: 1px;
}
@media (max-width: 650px) {
  .join__title {
    font-size: 36px;
  }
}
.join__text {
  font-family: "Doppio One", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #bfb9b1;
  margin-bottom: 41px;
  font-weight: 400;
}
@media (max-width: 650px) {
  .join__text {
    font-size: 12px;
  }
}
.join__input-body {
  display: flex;
  width: 100%;
}
.join__input {
  width: 452px;
  height: 43px;
  background: #f2eae0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
  font-size: 18px;
  color: rgba(59, 58, 64, 0.6);
}
@media (max-width: 650px) {
  .join__input {
    width: 352px;
    height: 33px;
  }
}
.join__button {
  width: 77px;
  height: 43px;
  background: url(../img/page-1/section-6/send.svg) center no-repeat #CC7408;
  border-radius: 5px;
  margin-left: 11px;
  flex: none;
  border: none;
}
@media (max-width: 650px) {
  .join__button {
    width: 45px;
    height: 33px;
  }
}
.join__subtext {
  align-self: flex-start;
}
.join__subtext a {
  font-style: italic;
  font-size: 14px;
  color: rgba(196, 196, 196, 0.6);
  margin-top: 6px;
  text-decoration: underline;
}

.footer {
  padding: 0 20px;
}
.footer__row1 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .footer__row1 {
    flex-direction: column;
  }
}
.footer__row1-logo {
  transform: translateX(-16px);
  display: flex;
  align-items: center;
}
@media (max-width: 950px) {
  .footer__row1-logo img {
    width: 70%;
  }
}
.footer__row2 {
  display: flex;
  justify-content: space-between;
}
.footer__column1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-basis: 433px;
  margin-top: 52px;
}
@media (max-width: 650px) {
  .service {
    flex-basis: 100px;
  }
}
.service h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 11px;
}
@media (max-width: 950px) {
  .service h5 {
    font-size: 0.8em;
  }
}
.service a {
  color: #C4C4C4;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 950px) {
  .service a {
    font-size: 0.8em;
  }
}

.column1 {
  flex-basis: 400px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 950px) {
  .column1 {
    font-size: 0.8em;
  }
}
@media (max-width: 650px) {
  .column1 {
    flex-basis: 600px;
  }
}
.column1__logo-text {
  margin-bottom: 17px;
}
@media (max-width: 650px) {
  .column1__logo-text {
    display: none;
  }
}
.column1__info1 {
  margin-bottom: 15px;
  max-width: 235px;
}
.column1__info1 p:last-child {
  color: #FFF;
  font-size: 24px;
}
@media (max-width: 650px) {
  .column1__info1 p:last-child {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .column1__info1 {
    margin-top: 30px;
  }
}
.column1__info2 {
  margin-bottom: 15px;
  max-width: 235px;
}
.column1__info2 p:last-child {
  color: #FFF;
  font-size: 24px;
}
@media (max-width: 650px) {
  .column1__info2 p:last-child {
    font-size: 14px;
  }
}
.column1__info3 {
  max-width: 235px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .column1__info3 {
    max-width: none;
    justify-content: space-evenly;
    margin-top: 46px;
  }
}
@media (max-width: 650px) {
  .column1__pay {
    display: none;
  }
}
.column1__card a:first-child span {
  background: url(../img/page-1/footer/cards.png) 0 0px no-repeat;
}
.column1__card a:nth-child(2) span {
  background: url(../img/page-1/footer/cards.png) -35px 0 no-repeat;
}
.column1__card a:nth-child(3) span {
  background: url(../img/page-1/footer/cards.png) -70px 0px no-repeat;
}
.column1__card a:nth-child(4) span {
  background: url(../img/page-1/footer/cards.png)-105px 0px no-repeat;
}
.column1__card a:last-child span {
  background: url(../img/page-1/footer/cards.png) -140px 0px no-repeat;
}
.column1__card span {
  display: inline-block;
  width: 34px;
  height: 27px;
}
.column1__text {
  margin-top: 175px;
}
@media (max-width: 800px) {
  .column1__text {
    margin-top: 75px;
  }
}
@media (max-width: 650px) {
  .column1__text {
    display: none;
  }
}

.column2__img-phone {
  margin-top: 51px;
  display: flex;
  justify-content: end;
}
@media (max-width: 950px) {
  .column2__img-phone img, .column2__img-phone a {
    width: 80%;
    text-align: end;
  }
}
@media (max-width: 650px) {
  .column2__img-phone {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */