* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   margin: 50px 0 0 30px;
}


div {
   margin-bottom: 20px;
}


a {
   color: green;
   padding: 5px 10px 10px 10px;
}


a:hover {
   color: red;
}


.option1 a {
   border-right: solid red 3px;
}


.option1 a:last-child {
   border-right: none;
}



.option2 div {
   display: inline;
}

.option2 a {
   padding-right: 0;
}


.option2 a::after {
   content: url(redBorder1.png);
}

.option2 div:last-child a::after {
   content: '';
}


.option3 {
   display: flex;
   flex-wrap: nowrap;
}

.option3 a {
   background: url(redBorder.png)right repeat-y;
}


.option3 div:last-child a {
   background: none;
}


.option4 div {
   display: inline;
}

.option4 a::before {
   content: url(redBorder2.png);
}

.option4 div:first-child a::before {
   content: '';
}

.option5 ul {
   display: flex;
}

.option5 li {
   list-style-image: url(redBorder.png);
   padding-right: 20px;
}

.option5 li:first-child {
   list-style: none;

}

.option5 li:first-child a {
   display: block;
   padding-top: 20px;
}